img{
	width: 100%;
	height: 100%;
}

.menu_img{
	width: auto;
}

.house{
	width: 250px;
	display: flex;
  flex-direction: column;
}

.modo_min{
	width: 250px;
}

header{
	background-color:#FFF;
	padding:auto;
	margin:auto;
}

#logo{
	width: 10%;
}

.over_logo{
	border-bottom: solid 2px #D3D3D3;
}

.right_menu{
	margin: 0 0 0 auto;
}

.menu_bar{
	display: flex;
  justify-content: flex-end;
	list-style: none;
	overflow: hidden;
	margin: 0 0 0 auto;
	padding: 0; /* 余分なパディングを消去 */
	border-bottom: solid 5px #D3D3D3;
}

.menu_bar li{
	text-align: center;
	width: 140px;
	background-color: #FFF;
	float: left;
}

.menu_bar li a{
	height: 100px;
  width: 140px;
	padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
	text-decoration: none;
	float: left;
	background-size:contain
}



.container {
	width: 100%;
	height: auto;

	/*background-image : radial-gradient(#4169e1 15px, transparent 16px);
	background-size : 100px 100px;*/
}

body{
	background-color: #FFE389;
	background-image: url(./image/back_image.png);
}

h1 {
	margin: auto;
}

h2 {
	background-color : rgba(0,0,0,0);
	width: 800px;
	font-size: 40px;
  border-bottom: 6px double #FF7467;
	padding: 0.5rem 2rem;
  border-left: 8px solid #FF7467;
	color: #CD853F;
}

#inmap {
  padding: 5px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  color: #565656;
  background: #FAEBD7;
  box-shadow: 0px 0px 0px 10px #FAEBD7;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}
#inmap p {
  margin: 0;
  padding: 0;
}

#map_list ul{
	list-style: none;
}



h3{
	font-size: 30px;
	position: relative;
  border-left: 8px solid #CC704B;
  padding: 0.5rem 1rem;
  color: #000;
}

h3::before {
position: absolute;
left: -8px;
bottom: 0;
content: '';
width: 6px;
height: 50%;
background-color: #614124;
}

h3::after {
position: absolute;
left: 0;
bottom: 0;
content: '';
width: 100%;
height: 0;
border-bottom: 3px solid #000;
}

h4{
  padding: 0.5rem 0.5rem;
  border-bottom: 2px solid #000;
	font-size: 20px;
}

p{
	width: 100%;
	height: auto;
	font-weight: 600;
	/*background-image : radial-gradient(#4169e1 15px, transparent 16px);
	background-size : 100px 100px;*/

}

#footer {
	background-color: #FFE389;
}
